<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/a.css">
    <title>Formula One Most Recent Results</title>
</head>
<body>
    <div class = "cont">
      <div class="track_and_title">
        <img src="<%= url %>" alt="Track map">
        <h4><%= gp_title %></h4>
      </div>
        
      <div class="table_cont">
          <table>
            <tr>
              <th>Name</th>
              <th>Number</th>
              <th>Position</th>
            </tr>
            <% results.forEach((item) => { %>
              <tr>
                <td> <%= item.Driver.givenName + " " + item.Driver.familyName %> </td>
                <td> <%= item.number %> </td>
                <td> <%= item.position %> </td>
              </tr>
            <% }) %>
          </table>
      </div>
    </div>
</body>
</html>